<!DOCTYPE html>

<!-- Theme taken from boostrap's jumbotron -->

<html ng-app="drakesCrowd">
<head>
  <base href="/">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <!-- Angular ngRoute -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script> -->

  <!-- Angular ui router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>

  <!-- Angular file upload -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.5/ng-file-upload.min.js"></script>

  <!-- MY CSS -->
  <link rel="stylesheet" href="./assets/css/main.css">
  <link rel="stylesheet" href="./assets/css/ng-form.css">

  <!-- MY SCRIPTS -->
  <% if (process.env.build === "production") { %>
  <script src="./bundle.js"></script>
  <% } else { %>
  <!-- My Script s-->
  <script src="./app.js"></script>
  <script src="./main/main.js"></script>
  <script src="./math/math.js"></script>
  <script src="./auth/auth.js"></script>
  <script src="./nav/nav.js"></script>
  <script src="./offerings/offerings.js"></script>
  <script src="./listings/listings.js"></script>
  <script src="./portfolio/portfolio.js"></script>
  <% } %>

  <title>Drake's Crowd</title>
</head>
<body>

  <div class="container">
    <div class="header clearfix">
      <div drakebar></div>
      <h3 class="text-muted">Drake's Crowd</h3>
    </div>

   <div ui-view class="view"></div>

    <footer class="footer">
      <p>&copy; 2016 Drake's Crowd.</p>
    </footer>

  </div> <!-- /container -->



</body>
</html>
