<div class="portfolio">

  <div class="portfolio-view">
    <h4>My Portfolio</h4>

    <table class="table">
      <thead>
        <tr>
          <td>Name<span class="glyphicon glyphicon-sort" ng-click="vm.sortBy('property.company.username')"></span></td>
          <td>Company</td>
          <td>Type</td>
          <td>Market Price<span class="glyphicon glyphicon-sort" ng-click="vm.sortBy('property.marketprice')"></span></td>
          <td>Target Return</td>
          <td>Target Annual Cash</td>
          <td>Investment Amount</td>
          <td>Approved<span class="glyphicon glyphicon-sort" ng-click="vm.sortBy('pending')"></span></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="investment in vm.portfolio">
          <td>
            <a href="#/offerings/{{investment.property.id}}">{{investment.property.name}}</a>
          </td>
          <td>{{investment.property.company.username}}</td>
          <td>{{investment.property.type}}</td>
          <td>{{investment.property.marketprice | currency}}</td>
          <td>{{vm.toPercent(investment.property.irr)}}</td>
          <td>{{vm.toPercent(investment.property.cash)}}</td>
          <td>{{investment.amount}}</td>
          <td>
            <span ng-if="investment.pending">PENDING</span>
            <span ng-if="investment.approved">APPROVED</span>
            <span ng-if="!investment.pending && !investment.approved">DECLINED</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
